
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="dashboard"><h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
            <li class="nav-item">
        <a class="nav-link" href="mealtable">Mealtable<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mealslist">AddMeal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="updatemeal">Updatemeal</a>
      </li>

    </ul>
    <span class="navbar-text">
    </span>
  </div>

<br>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
</nav>


<br><br><br><br><br><br>

