<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrify</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <a href="/dashboard" class="nav-brand text-dark">Dashboard</a>
                    </div>
                </div>
            </nav>
        </header>
    <!-- /Header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/mealslist" class="border-shadow">
                    <span class="text-gradient"> Add New Meal <i class="fas fa-user"></i></span>
                </a>
            </div>

            <!-- form handling -->
            <form action="/test" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>MealName</th>
                            <th>MealType</th>
                            <th>Description</th>
                            <th>calories</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </form>
        </div>
    </main>